<label>Restaurant Name</label>
<input type="text" name="name" class="form-control"  value="{{previous_values.name}}">
<br/>
<label>Location</label>
<input type="text" name="location" class="form-control"  value="{{previous_values.location}}">
<br/>
<label>Contact</label>
<input type="text" name="contact" class="form-control"  value="{{previous_values.contact}}">
<br/>
<label>Email</label>
<input type="text" name="email" class="form-control"  value="{{previous_values.email}}">
<br/>
<div>
    <a id="upload_widget" class="cloudinary-button">Upload Files</a>
</div>
<input type="hidden" id="uploaded-file-url" name="uploaded-file-url" value="{{previous_values.uploadURL}}">
<input type="hidden" id="asset-id" name="asset-id"  value="{{previous_values.assetID}}">
<br/>

