
<label>Restaurant Name</label>
<input type="text" name="name" class="form-control"  value="{{previous_values.title}}">
<br/>
<label>Location</label>
<input type="text" name="location" class="form-control"  value="{{previous_values.title}}">
<br/>
<label>Contact</label>
<input type="text" name="contact" class="form-control"  value="{{previous_values.title}}">
<br/>
<label>Email</label>
<input type="text" name="email" class="form-control"  value="{{previous_values.title}}">
<br/>
<div>
    <a id="upload_widget" class="cloudinary-button">Upload Files</a>
</div>
<input type="hidden" id="uploaded-file-url" name="uploaded-file-url"/>
<input type="hidden" id="asset-id" name="asset-id"/>
<br/>
<input type="submit" value="Create" class="btn btn-primary">
