<select name="restaurants">
{% for each_restaurant in restaurant %}
    <option value="{{each_restaurant._id}}">{{each_restaurant.name}}</option>
{% endfor %}
</select>
<br/>
<label>Title</label>
<input type="text" name="title" class="form-control" value="{{previous_values.title}}">
<br/>
<label>Review</label>
<input type="text" name="review" class="form-control" value="{{previous_values.review}}">
<br/>
<label>Food Rating</label>
<div class="d-flex justify-content-center">
	<p>1</p>
	<input type="range" name="ratingFood" class="form-control" value="{{previous_values.ratingFood}}"  min="0" max="10">
	<p>10</p>
</div>
<br/>


<label>Restaurant Rating </label>
<div class="d-flex justify-content-center">

	<p>1</p>
	<input type="range" name="ratingRes" class="form-control" value="{{previous_values.ratingRes}}"  min="0" max="10">
	<p>10</p>

</div>
<br/>

<label>Cost</label>
<div class="d-flex justify-content-center">
	<p>1</p>
	<input type="range" name="cost" class="form-control" value="{{previous_values.ratingRes}}"  min="0" max="10">
	<p>10</p>
</div>
<br/>
<input type="hidden" id="customer" name="customer" value="{{current_user.get_id()}}">
<input type="hidden" id="customerName" name="customername" value="{{current_user.get_id()}}">