{% extends 'base.template.html' %}
{% block content %}
<h1>All Customer</h1>
<br/>

<div class ="container row">
   
	<table class="table">
  <thead>
    <tr>

      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Contact</th>
      <th scope="col">Password</th>
    </tr>
  </thead>
{% for each_customer in customer %}
  <tbody>
    <tr>
      <td>{{each_customer._id}}</td>
      <td>{{each_customer.name}}</td>
      <td>{{each_customer.email}}</td>
      <td>{{each_customer.contactNumber}}</td>
      <td>{{each_customer.password}}</td>
    </tr>
  </tbody>
{% endfor%}
</table>

</div>
{% endblock %}