{% extends 'base.template.html' %}
{% block content %}


<h1>All Reviews</h1>
{% if current_user.is_authenticated %}
<p> Hello! {{current_user.name}}</p>
{% else: %}
    Please Login
{% endif %}

<div class ="container row">
    {% for each_review in review %}
	<div class="card border-light m-3" style="width: 18rem;">
		<div class="card-body">
            <small class="card-text">{{each_review.restaurant.name}}</small>
			<h5 class="card-title">{{each_review.title}}</h5>

            <br/>
			<p class="card-text">{{each_review.review}}</p>
            </br>

            <label class='h6'>Food Rating</label>
            <p>{{each_review.ratingFood}}</p>
            <label class='h6'>Restaurant Rating</label>
			<p>{{each_review.ratingRes}}</p>
            <br/>
            <div class = 'd-flex justify-content-end'>
            <small class="text-muted">{{each_review.customer.name}}</small>
            </div>
	
    	</div>
	</div>
    {% endfor%}
</div>
{% endblock %}