{% extends 'base.template.html' %}
{% block content %}

<div class="ml-5">
<h1>All Restaurants</h1>
<small><a href='/create-restaurant'>add a restaurant</a></small>
<form method = "GET" class="form-inline">
    <input type ="text" name="restaurant_name" class="form-control"/>
    <input class="btn btn-primary ml-2" type = "submit" value = "Search"/>
</form>
</div>


<div class ="container row">
    {% for each_restaurant in restaurant %}
	<div class="card border-light m-3" style="width: 18rem;">
		<div class="card-body">
            <small class="card-text">{{each_restaurant.location}}</small>
			<h5 class="card-title">{{each_restaurant.name}}</h5>

            <label class="h6">Location</label>
            <label class="h6">Contact</label>
			<p>{{each_restaurant.contact}}</p>
            <p>{{each_restaurant.email}}</p>
            <br/>

            <a href="/show-restaurants/{{each_restaurant._id}}" class="btn btn-primary">Menu</a>
    	</div>
	</div>
    {% endfor%}
</div>
{% endblock %}