{% extends 'base.template.html' %}

{% block content %}

<div class="ml-5">
<h1>Your Reviews</h1>
{% for each_review in review %} 
	<div class="card border-light m-3" style="width: 18rem;">
		<div class="card-body">
                <h5 class="card-title">{{each_review.title}}</h5>
                <br/>
                <p class="card-text">{{each_review.review}}</p>
                <br/>

                <label class='h6'>Food Rating</label>
                <p>{{each_review.ratingFood}}</p>
                <label class='h6'>Restaurant Rating</label>
                <p>{{each_review.ratingRes}}</p>
                <br/>
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-light btn-success">Edit</button>
                  <button type="button" class="btn btn-sm btn-outline-light btn-danger">Delete</button>
                </div>

                
                <div class = 'd-flex justify-content-end'>
            
             </div>
    	</div>
	</div>
</div>
    {% endfor%}

{% endblock %}