<form method="POST">
<label>Title</label>
<input type="text" name="title" class="form-control">
<br/>
<label>Review</label>
<input type="text" name="review" class="form-control">
<br/>
<label>Food Rating</label>
<input type="text" name="ratingFood" class="form-control">
<br/>
<label>Restaurant Rating</label>
<input type="text" name="ratingRes" class="form-control">
<br/>
<label>Cost</label>
<input type="text" name="cost" class="form-control">
<br/>
<label>Restaurant</label>
<input type="text" name="restaurantName" class="form-control">
<br/>
 <input type="submit" value="Create" class="btn btn-primary">
</form>