{% extends 'base.template.html' %}

{% block content %}
<div class="jumbotron container-fluid">
    <div class="container d-flex align-items-start flex-column">
        <div class="m-5">
            <h1 class="header-title">Food Must Be Good</h1>
            <p class="lead text-left">FoodRank curates the best reviews from our users!
            <br/> Find the best haunts in town today!
            </p>
            <p>
                <a href="#" class="small">Join Us Today!</a>
            </p>
        </div>
    </div>
</div>
  <div class="album bg-light">
  <br/>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="static/image/347-01.jpg">
            <div class="card-body">
              <p class="card-text">EatRank collects 100% genuine reviews from partner-customers just like you to provide objective & reasonable review on F&B in Singapore.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="static/image/382-01.jpg">
            <div class="card-body">
              <p class="card-text">Be informed on the latest F&B reviews and plan your perfect date with our app! No more regrets when it comes to dining out!</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="static/image/14044-01.jpg">
            <div class="card-body">
              <p class="card-text">Contribute to the community of Foodies by signing up today! Our staff will contact you once your account is verified and you can start helping others!</p>
            </div>
          </div>

      </div>
    </div>
  </div>
{% endblock %}