{% extends 'base.template.html' %}


    <ul>
    {% for key, each_error in errors.items() %}
        <li>{{each_error}}</li>
    {% endfor %}
    </ul>

{% block content %}
<div class = "d-flex justify-content-center mt-5">
    <div class="card" style="width: 38rem;">
        <div class="m-4">
            <h1>Register an account</h1>
            <form method='POST'>
            {% include 'userregister.template.html' %}
            <input type="submit" value="register" class="btn btn-primary"/>
            </form>
         </div>
    </div>
</div>
{% endblock %}